/* Color Palette
Dark black: 0B0C10
Dark grey: 1F2833
Light grey: C5C6C7
Medium blue: 45A29E 
Bright blue: 66FCF1 */


h1, h2 {
  color: black;
  font-family:'Rampart One';
}

h2 {
  margin-bottom: 6px;
}

.emojis {
  margin-bottom: 12px;
}

body {
  font-family:'Concert One';
  background-color: lightyellow;
  color: darkslategrey;
  font-weight: 700;
  padding-left: 2rem;
}

img {
  filter: grayscale(0%);
  border-radius: 5%;
}

img:hover {
  border-top: 1px solid grey;
  border-bottom: 1px solid bottom;
  transition: 1.0s ease-in-out;
  filter: grayscale(0%);
}

/* .categories {
  display: flex;
  flex-direction: row;
} */
